<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>


</head>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/googlechartloader.js' %}"></script>

<div id="chart_div" width="100" height="100"></div>
<body>
<h1>Log List</h1>
<table>
    <thead>
    <td>Email</td><td>Logname</td><td>Open Link</td>
    </thead>
    {% for i,j in loglist %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ j }}</td>
            <td><a href="{{current_uri}}{{i}}/{{j}}">{{current_uri}}{{i}}/{{j}}</a>/</td>
        </tr>
    {% endfor %}
</table>
<script>
google.charts.load('current', {packages: ['corechart', 'line']});

function load_graph(d){
google.charts.setOnLoadCallback(drawBackgroundColor);

function drawBackgroundColor() {
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'time');
      data.addColumn('number', 'Hit');

      data.addRows(eval(d));

      var options = {
        hAxis: {
          title: 'Time'
        },
        vAxis: {
          title: 'Message Hits'
        },
        backgroundColor: '#f1f8e9'
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
}

load_graph([[0,0]]);

$("char_div").ready(function(){
       setInterval(function(){
        //do ajax request
        $.ajax({
            url: '/message_chart/',
            type: 'POST',
            data: {num_seconds:5},
            success: function(data){
                        load_graph(data);
                    }
            });
           },1000);
});
</script>
</body>
</html>