<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>


</head>
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
 <script type="text/javascript" src="{% static 'js/googlechartloader.js' %}"></script>

<div id="chart_div" ></div>
<div id="memory_div"></div>
<div id="cpu_div"></div>
<div id="read_div"></div>
<div id="write_div"></div>
<body>
<h1>Log List</h1>
<table>
    <thead>
    <td>Email</td><td>Logname</td><td>Open Link</td>
    </thead>
    {% for i,j in loglist %}
        <tr>
            <td>{{ i }}</td>
            <td>{{ j }}</td>
            <td><a href="{{current_uri}}{{i}}/{{j}}/">{{current_uri}}{{i}}/{{j}}</a>/</td>
        </tr>
    {% endfor %}
</table>
<script>
google.charts.load('current', {packages: ['corechart', 'line']});

function load_graph(d,element_id,x_axis){
google.charts.setOnLoadCallback(drawBackgroundColor);

function drawBackgroundColor() {
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'time');
      data.addColumn('number', x_axis);

      data.addRows(d);

      var options = {
        hAxis: {
          title: 'Time'
        },
        vAxis: {
          title: x_axis
        },
        backgroundColor: '#f1f8e9'
      };

      var chart = new google.visualization.LineChart(document.getElementById(element_id));
      chart.draw(data, options);
    }

}


$("char_div").ready(function(){
       setInterval(function(){
        //do ajax request
        $.ajax({
            url: '/message_chart/',
            type: 'POST',
            data: {num_seconds:300},
            success: function(data){
                        data = eval(data);
                        load_graph(data,'chart_div','message hits');
                    }
            });
           },1000);
});



$("#cpu_div").ready(function(){
    setInterval(function(){
        //do ajax request
        $.ajax({
            url: '/cpu_chart/',
            type: 'POST',
            data: {num_seconds:60},
            success: function(data){
                        data = eval(data)
                        load_graph(data[0],'cpu_div','cpu percent');
                        load_graph(data[1],'memory_div','memory usage');
                        load_graph(data[2],'read_div','io read hits');
                        load_graph(data[3],'write_div','io write hits');
                    }
            });
           },1000);
}
);

</script>
</body>
</html>